<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Foist", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-blue-400 flex flex-col h-screen items-center text-blue-800">
    <header class="mt-1 text-center text-4xl">Foist</header>
    <main class="flex-grow p-2 w-full max-w-screen-sm">
      <%= @inner_content %>
    </main>
    <footer>Game by <a class="text-blue-200" href="https://brettbeatty.com">Brett Beatty</a></footer>
  </body>
</html>
