/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

// temporary fix to hide phx-connected
.phx-connected, .phx-disconnected, .phx-error {
  @apply flex flex-col w-full;
}

body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

// hide live reload frame
iframe[hidden] {
  display: none;
}
