<section class="flex flex-col flex-grow items-center">
  <h3>Playing As</h3>
  <%= link @player.name, to: Routes.player_path(@conn, :new, redirect: @conn.request_path), class: "text-3xl" %>
</section>
<%= link "Join Game", to: Routes.game_path(@conn, :join_code), class: "bg-blue-800 border border-blue-800 my-2 p-2 rounded text-blue-200 text-center w-full" %>
<%= link "Create Game", to: Routes.game_path(@conn, :create), method: "post", class: "bg-blue-200 border border-blue-800 my-2 p-2 rounded text-blue-800 text-center w-full" %>
<%= link "How to Play", to: Routes.welcome_path(@conn, :how_to_play), class: "bg-blue-200 border border-blue-800 my-2 p-2 rounded text-blue-800 text-center w-full" %>
