<section class="flex-grow"></section>
<%= link "Join Game", to: Routes.game_path(@conn, :join_code), class: "bg-blue-800 border border-blue-800 my-2 p-2 rounded text-blue-200 text-center w-full" %>
<%= link "Create Game", to: Routes.game_path(@conn, :create), method: "post", class: "bg-blue-200 border border-blue-800 my-2 p-2 rounded text-blue-800 text-center w-full" %>
